@import "bootstrap-grid";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,400,600&display=swap');



body {
    margin: 0;
}

html {
    background-color: $main;
}

h1, h2, h3, h4,
h5, h6, p, span, li {
    color: $white;
    font-family: 'Poppins';
}

p, span {
    font-size: 1rem;
}

ul {
    padding-inline-start: 24px;
    text-align: justify;
}

li {
    font-size: 0.9rem;
    margin-bottom: 12px;
    margin-right: 24px;
}

.content {
    margin: 0 48px;
}

.page {
    padding: 48px 0;
}

.page.shadow {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: $shadow;
}

.intro {
    min-height: 600px;
    position: relative;

    .intro-panel {
        margin-left: 96px;

        p {
            font-family: 'Poppins';
            font-weight: 600;
            text-transform: uppercase;
            line-height: 8px;
        }

        p.message {
            font-size: 3.5rem;
            line-height: 0;
            color: $pink;
        }

        p.name {
            font-size: 5.5rem;
            // margin: 64px 0 64px;
            color: $white;
        }

        p.title {
            font-size: 3.5rem;
            color: $green;
        }
    }

    .intro-canvas {
        width: 100%;

        .canvas-panel {
            width: fit-content;
            right: 0;

            .relative-panel {
                position: relative;
            }

            img {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    .intro-background {
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: $shadow;
    }
}

.who-item {
    max-width: 60%;
    text-align: justify;
}

.skill-item {
    border: 1px solid $white;
    padding: 4px 12px;
    margin: 8px 12px;
    display: inline-block;
}

.box-item {
    background-color: $secundary;
    position: relative;
    padding: 16px 32px;
    margin: 12px 0;

    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        color: $pink;
    }

    h2 {
        color: $green;
    }

    h2, h3, h4 {
        // font-size: 1.3rem;
        margin-block-start: 0;
        margin-block-end: 8px;
    }
}