@import "lib/bootstrap-grid";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,400,600&display=swap');

* {
    box-sizing: inherit;
}

html {
    background-color: $main;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5,
h6, p, span, li, a {
    color: $white;
    font-family: 'Poppins';
}

p, span, li {
    font-size: 1em;
}

ul {
    padding-inline-start: 0;
    padding-inline-end: 0;
    text-align: justify;
}

li {
    line-height: 1.5;
    list-style-type: none;
}

.content {
    margin: 0 48px;
}

.page {
    padding-top: 64px;
    margin-bottom: 64px;
}

.page.shadow {
    // background-color: rgba(0, 0, 0, 0.4);
    background-color: rgba(24, 25, 32, 1);
    box-shadow: $shadow;
    padding-bottom: 64px;
    margin-bottom: 0;
}

.who-item {
    padding: 24px 0;
}

.skill-item {
    border: 1px solid $white;
    padding: 4px 12px;
    margin: 8px 12px;
    display: inline-block;
}

.skill-filter {
    text-decoration: none;
    text-align: right;
    display: block;
    margin: 4px 0;
    color: $secundary;
}

.skill-filter.selected {
    color: $white;
}

.skill-line {
    border-right: 1px solid $white;
    padding: 4px 24px 0 0px;
    transition: 50ms;
}

.footer {
    background-color: $red;
    box-shadow: $shadow;
    padding: 32px 0;

    a {
        text-decoration: none;
        display: block;
    }

    .title {
        font-weight: 700;
        font-size: 1.1em;
        line-height: 0.5;
    }

    .foot-block {
        border-left: 2px solid $white;
    }
}



// Mid size
@media (max-width: $media-md) {
    .page {
        padding-top: 24px;
        margin-bottom: 24px;
    }

    .who-item {
        max-width: 100%;
        font-size: 0.9em;
        padding: 0 12px;
    }

    .skill-line {
        border-right: none;
        border-bottom: 1px solid $white;
        padding: 4px 24px 8px 0px;
        margin-bottom: 16px;
    }

    .skill-filter {
        text-align: center;
        display: inline-block;
        margin: 4px 16px;
    }

    .skill-center {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .skill-box-center {
        text-align: center;
    }
}

// Small size
@media (max-width: $media-sm) {
    .who-item {
        margin-bottom: 64px;
    }

    .footer {
        padding: 16px 0;
        line-height: 0.5;
    
        a {
            text-decoration: none;
            display: block;
        }
    
        .title {
            font-weight: 700;
            font-size: 1.1em;
        }
    
        .foot-block {
            border-left: 0;
            padding-bottom: 12px;
        }

        .foot-links {
            display: inline-block;
            padding: 8px 16px 8px 0;
        }
    }   
}