@import 'variables';

.project-item {
    $preview-border: solid $main;
    $topbottom: 32px $preview-border;
    font-size: 1.3em;
    line-height: 1;
    padding: 0 64px 64px;

    .project-pad {
        position: relative;
    }

    .project-text {
        font-size: 0.8em;
    }

    .project-text.center,
    .project-preview.center {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .project-item {
        margin: 0;
    }

    .phone-preview, .browser-preview {
        border: 12px $preview-border;
        margin-left: auto;
        margin-right: auto;
        display: block;
        box-shadow: $shadow;
    }

    .phone-preview {
        width: 60%;
        border-radius: 24px;
        border-bottom: $topbottom;
        border-top: $topbottom;
    }

    .browser-preview {
        width: 90%;
        border-radius: 12px;
        // margin-right: 0;
    }

    .order-first {
        .browser-preview {
            margin-left: 0;
        }
    }

    .order-last {
        .browser-preview {
            margin-right: 0;
        }
    }

    .project-link {
        padding: 8px 24px 8px 0;
        text-decoration: none;
    }

    h1 {
        color: $pink;
    }

    h3 {
        color: $cyan;
    }

    p {
        line-height: 1.5;
    }

}

//Large size
@media (max-width: $media-lg) {
    .project-item {
        font-size: 1em;
    }
}

//Med size
@media (max-width: $media-md) {
    .project-item {
        padding: 0 32px 32px;
    }
}

//Small size
@media (max-width: $media-sm) {
    .project-pad.order-first {
        order: 13;
    }

    .project-item {
        .project-text {
            padding-bottom: 48px;
        }

        .project-text.center,
        .project-preview.center {
            position: relative;
            top: 0;
            -ms-transform: translateY(0);
            transform: translateY(0);
        }

        .browser-preview {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}